<header style="height: 75px; width: auto;">
<style>.logo-text {
    font-family: 'Pacifico', cursive;
    color: #26c6da;
    font-size: 3rem;
    letter-spacing: 0.05em;
}</style>
    <h1 class="logo-text">TravelUP</h1>
    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#products">Places</a>
        <a href="/login">Login/Signup</a>

    </nav>
</header>