<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<!-- Top Bar -->
		<!-- Main Navigation -->

	<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
						<div class="col-md-12">
							<div class="main_nav_container ml-auto">
								<ul class="main_nav_list">
									<li class="menu_item"><a href="/loggedinhome">Home</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</nav>
	</header>