<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kerala</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travel Guide Kerala">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/offers_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/offers_responsive.css">
    <style>
        p { text-align: justify; }
    </style>
</head>
<body>

<%- include('headerplaces') %> <!-- Include header if you have one -->

<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
        <ul>
            <li class="menu_item"><a href="/loggedinhome">HOME</a></li>
        </ul>
    </div>
</div>

<!-- Home -->
<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/kerala.jpg"></div>
</div>

<!-- Offers Section -->
<div class="search">
    <div class="search_inner">
        <div class="container fill_height no-padding">
            <div class="row fill_height no-margin">
                <div class="col fill_height no-padding">
                    <div class="home_title" style="color:#26c6da; font-size: 3rem;"><center>Kerala</center></div>
                </div>
            </div>
        </div>    
    </div>    
</div>

<!-- Offers -->
<div class="container">
    <div class="row">
        <div class="col-lg-1 temp_col"></div>
        <div class="col-lg-11">
            <!-- Offers Grid -->
            <div class="offers_grid">
                <!-- Place 1: Alleppey Backwaters -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/alleppey-backwaters.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Alleppey Backwaters</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Alleppey Backwaters</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Known as the 'Venice of the East,' Alleppey's backwaters offer serene houseboat cruises and enchanting views of lush greenery.</p>
                                <div class="button book_button"><a href="https://holidify.com/places/alleppey/backwaters-sightseeing-1124.html">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Place 2: Munnar Tea Gardens -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/munnar-tea.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Munnar Tea Gardens</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Munnar Tea Gardens</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Explore Munnar's lush tea gardens with breathtaking views and refreshing air. A perfect spot for tea enthusiasts and nature lovers.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/munnar/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Place 3: Kathakali Performance -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/kathakali-performance.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Kathakali Performance</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Kathakali Performance</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Experience the vibrant culture of Kerala by witnessing a Kathakali performance, featuring elaborate costumes and storytelling.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/kerala/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Place 4: Varkala Beach -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/varkala-beach.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Varkala Beach</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Varkala Beach</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Varkala Beach, with its unique cliffs and pristine waters, is ideal for relaxation, surfing, and stunning sunsets.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/varkala/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
</body>
</html>