<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sikkim</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travel Guide Pune">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/offers_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/offers_responsive.css">
    <style>
        p { text-align: justify; }
    </style>
</head>
<body>

    <%- include('headerplaces') %> <!-- Include header if you have one -->

    <div class="menu trans_500">
        <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
            <div class="menu_close_container"><div class="menu_close"></div></div>
            <div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
            <ul>
                <li class="menu_item"><a href="/loggedinhome">HOME</a></li>
            </ul>
        </div>
    </div>

    <!-- Home -->
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/sikkim.jpg"></div>
    </div>
  <!-- Offers Section -->
  <div class="search">
    <div class="search_inner">
        <div class="container fill_height no-padding">
            <div class="row fill_height no-margin">
                <div class="col fill_height no-padding">
                    <!-- Search Tabs -->
                    <div class="home_title" style="color:#26c6da; font-size: 3rem;" ><center>Sikkim</center></div>
                </div>
            </div>
        </div>    
    </div>    
</div>

<!-- Offers -->
<div class="container">
    <div class="row">
        <div class="col-lg-1 temp_col"></div>
        <div class="col-lg-11">
            <!-- Offers Grid -->
            <div class="offers_grid">
                <!-- Place 1: Tsomgo Lake -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/tsomgo_lake.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Tsomgo Lake</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Tsomgo Lake</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Tsomgo Lake is a glacial lake located at an altitude of 12,400 ft. Surrounded by snow-capped mountains, it is famous for its changing colors and serenity. It is also a revered site for the Sikkimese people.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/sikkim/tsomgo-lake/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Place 2: Nathula Pass -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/nathula-pass.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Nathula Pass</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Nathula Pass</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Situated on the Indo-China border, Nathula Pass is a stunning high-altitude mountain pass that offers breathtaking views and a glimpse of border trading activities. It is an important part of the old Silk Road.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/sikkim/nathula-pass/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Place 3: Rumtek Monastery -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/rumtek_monastery.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Rumtek Monastery</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Rumtek Monastery</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Rumtek Monastery is one of the largest monasteries in Sikkim, known for its beautiful architecture and serene atmosphere. It serves as the seat of the Karmapa, the spiritual leader of the Karma Kagyu sect.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/sikkim/rumtek-monastery/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Place 4: Yumthang Valley -->
                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-1 temp_col"></div>
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url(/images/yumthang_valley.jpg)"></div>
                                <div class="offer_name"><a href="single_listing.html">Yumthang Valley</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Yumthang Valley</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i><i></i><i></i><i></i><i></i>
                                </div>
                                <p class="offers_text">Known as the "Valley of Flowers," Yumthang Valley is a paradise for nature lovers. Situated at an altitude of 11,800 ft, it is home to a variety of flora and fauna, with the Shingba Rhododendron Sanctuary being a highlight.</p>
                                <div class="button book_button"><a href="https://www.holidify.com/places/sikkim/yumthang-valley/">Know more<span></span><span></span><span></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

